.body {
  font-family: "Nunito";
  padding: 0 10% 0 10%;
  margin: 0;
  text-align: center;
}

.Title {
  font-size: 100px;
  font-weight: bold;
  color: grey; 
  width: 100%;
  text-align: center;
  background-color: pink;
  margin-bottom: 10px;
}

.Loading {
  width: "100%";
  text-align: "center";
  margin-top: 100px;
  font-size: 40px;
  color: grey; 
}

@media (min-width: 940px) {
  .event-list-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
    padding: 20px 0 0 0;
    text-align: center;
    align-content: center;
  }
  .item {
    border-radius: 9px;
    padding: 10%;
    font-size: 20px;
    text-align: left;
    min-height: 430px;
    opacity: 0.6;
    transform: scale(0.9);
    transition: all 0.15s ease-in-out;
  }
  .item:hover {
    transform: scale(1);
    opacity: 1;
  }
  .company {
    color: pink; 
    background-color: grey;
  }
  .event {
    color: grey;
    background-color: pink;
  }
  .guide {
    margin: auto;
    width:50%;
    border-radius: 100px;
    padding: 0 80px;
    background-color: black;
    color: pink;
  }
  .add-event-close {
    background-color: grey;
    background-image: url("../../../assets/img/add.png");
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: 50% 50%;
    height: 430px;
  }
  .add-event-open {
    padding: 0;
    position: relative;
    transform: scale(1) !important;
    opacity: 1;
    grid-column: 1 / span 3;
    background-color: grey;
    color: pink;
    margin-bottom: 5px;
    height: 500px;
    transition: 0;
  }
  .event-form {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%; 
    width: 80%;
    height: 100%;
    padding-top: 30px;
  }
}
@media (max-width: 940px) {
  .event-list-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 1%;
    padding: 20px 0 0 0;
    text-align: center;
    align-content: center;
  }
  .item {
    border-radius: 9px;
    padding: 10%;
    font-size: 20px;
    text-align: left;
    min-height: 430px;
    opacity: 0.6;
    transform: scale(0.9);
    transition: all 0.15s ease-in-out;
  }
  .item:hover {
    transform: scale(1);
    opacity: 1;
  }
  .company {
    color: pink; 
    background-color: grey;
  }
  .event {
    color: grey;
    background-color: pink;
  }
  .guide {
    margin: auto;
    width:50%;
    border-radius: 100px;
    padding: 0 80px;
    background-color: black;
    color: pink;
  }
  .add-event-close {
    background-color: grey;
    background-image: url("../../../assets/img/add.png");
    background-repeat: no-repeat;
    background-size: 65% 55%;
    background-position: 50% 50%;
    min-height: 430px;
  }
  .add-event-open {
    padding: 0;
    position: relative;
    transform: scale(1) !important;
    opacity: 1;
    grid-column: 1 / span 2;
    background-color: grey;
    color: pink;
    margin-bottom: 10px;
    height: 500px;
    transition: 0;
  }
  .event-form {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%; 
    width: 80%;
    height: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 640px) {
  .event-list-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px 0 0 0;
    align-content: center;
    text-align: center;
  }
  
  .item {
    text-align: center;
    color: grey; 
    background-color: pink;
    border-radius: 9px;
    padding: 10%;
    font-size: 20px;
    text-align: left;
    min-height: 350px;
    opacity: 0.6;
    transition: 0.15s;
  }
  .item:hover {
    opacity: 1;
  }
  .company {
    color: pink; 
    background-color: grey;
  }
  .event {
    color: grey;
    background-color: pink;
  }
  .guide {
    margin: auto;
    width:50%;
    border-radius: 100px;
    padding: 0 50px;
    background-color: black;
    color: pink;
    font-size: 15px;
  }
  .add-event-close {
    background-color: grey;
    background-image: url("../../../assets/img/add.png");
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: 50% 50%;
    min-height: 350px;
  }
  .add-event-open {
    padding: 0;
    position: relative;
    transform: scale(1) !important;
    opacity: 1;
    grid-column: 1 ;
    background-color: grey;
    color: pink;
    margin-bottom: 10px;
    height: 500px;
    transition: 0;
  }
  .event-form {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%; 
    width: 80%;
    height: 100%;
    padding-top: 40px;
  }
}
.title-name {
  font-size: calc(24px + (25 - 14) * ((100vw - 640px) / (1400 - 640)));
}
.center-text {
  text-align: center;
}

#EventForm {}
.InputBox {
  position: absolute,
}
.Input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 90%;
  border: none;
  border-bottom: 1px solid pink;
  outline: none;
  color: pink;
  background-color: transparent;
  transition: .5;
}
.Input::placeholder {
  color:pink;
  font-size: 18px;
}
.InputDate {
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid pink;
  margin-bottom: 10px;
  color: pink;
  padding: 10px;
  font-size: 16px;
}
.OptionCompanies {
  width: 90%;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid pink;
  margin-bottom: 10px;
  color: pink;
  padding: 10px;
  font-size: 16px;
}
.Label {
  margin-bottom: 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  pointer-events: "none";
  font-size: 16px;
  color: pink;
}
.Label:hover {
  color: "white";
}
.Button-Add {
  color: pink;
  background-color: black;
  border: none;
  padding: 20px;
  margin-top: 20px;
  margin-left: 5%;
  margin-right:5%;
  width: 40%;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
}
.Button-Add:hover {
  transform: scale(1);
  color: grey;
  background-color: pink;
}
